/* 2. Header (Menu de navegación) */
header {
    padding: 20px 50px;
    border-bottom: 1px solid #eee;
    position: sticky;
    top: 0;
    background: white;
    z-index: 100;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo img {
   width: 150px;
    height: 150px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}