main {

    margin: 0;
    padding: 0;
}

.textua {


    height: 100px;
    width: 500px;

}

.informazioGuztiBloke {

    width: 100vw;

}

.informazioGuztiBloke:nth-child(odd) {

    background-color: rgb(207, 213, 214);

}

.informazioGuztiBloke:nth-child(even) {

    background-color: rgb(71, 95, 102);

}

.nortzukText {

    height: 100px;
    width: 500px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 40px;

}

.nortzukText h1 {


    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 47px;

}

.edukia img {

    height: 400px;
    width: 600px;
    border-radius: 40px;
    padding: 0px 20px 20px 20px;
}

.edukia {

    display: flex;

}

.edukia3 {


    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.edukia3 .img2 img {

    height: 308px;
    width: 650px;
    border-radius: 40px;
}

.edukia3 .img2  {

   padding: 0px 40px 50px 0px;
   
}



.edukia3 .textua {

    margin-left: 40px;

}


.textua .titulu {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    font-weight: bold;
    width: 800px;
}


.textua .paragrafo {

    width: 720px;
    margin-top: 20px;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.tarjetaKontainer {

    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 750px;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    margin-top: 30px;

}

.tarjetaBlokea {

    background-color: white;
    width: 220px;
    height: 220px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: black 2px 2px 10px;

}

.tarjetaBlokea img {

    width: 150px;
    height: 150px;
}

.infoBlokKontainer {

    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;

}

.infoBlok {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px 60px;
    background-color: rgb(193, 216, 236);
    width: 170px;
    height: 100px;
    border-radius: 60px;
}

.edukia2{


padding: 80px 0px 50px 90px;
display: flex;
justify-content: center;

}

.edukia4{


padding: 80px 0px 50px 90px;
display: flex;
justify-content: normal;
justify-content: space-around;

}


.taldeTarjetaInfo{

background-color: rgb(252, 252, 252);
width: 400px;
height: 450px;
border-radius: 30px;
display: flex; 
flex-direction: column;
margin-top: 0px;
box-shadow: black 2px 2px 10px;
}

.taldeTarjetaInfo img{

    width: 200px;
    border-radius: 80px;
    margin-left: 30px;
    margin-top: 20px;

}

.taldeTarjetaInfo p.titulu {

    font-size: 20px;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 20px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   
}

.taldeTarjetaInfo p.paragrafo{


    font-size: 15px;
    margin-left: 30px;
    margin-top: 10px;
    width: 340px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
   
}
.konbentzituKontainer{

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 500px;
    padding: 0px 50px 0px 50px;

}

.konbentzituKontainer h1{

  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;


}


.konbentzituKontainer p{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 60px;
    font-size: 20px;
    
}

.konbentzituKontainer a.erosiOrainBut{

    width: 350px;
    height: 90px;
    border-radius: 40px;
    background-color: rgb(168, 219, 240);
    border-style: none;
    box-shadow: black 2px 2px 10px;
    margin-top: 80px; ;
    display: flex;
    justify-content: center;    
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 18px;

}




.kokapenaKontainer{

    display: flex;
    flex-direction: column;
    align-items: center;
   


}


.nonKokatutaText h1{

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-bottom: 50px;
    
    
}
.kokapenaKontainer iframe{

   border-radius: 30px;
   box-shadow: black 2px 2px 10px;
    


}



