#mainTitle {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

.textua {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 30px;

}

#orriarenKontenidoa {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.kontaktuModuak {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.kontaktuModuak img {

    width: 50px;
    margin-right: 10px;
    justify-content: center;
}



.kontaktuKontainer {

    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 70px;
    gap: 30px;
    width: 450px;
    margin-left: 0px;
   

}
.seguimenduaKontainer {

    width: 400px;
 

}

.seguimenduaKontainer input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #000000;
    border-radius: 5px;

}

.seguimenduaKontainer button {

    padding: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: rgb(233, 229, 224);
}


.seguimenduaKontainer h2 {
    margin-bottom: 20px;
}
.seguimenduaKontainer form {
    display: flex;
    flex-direction: column;
}