.filtro_elementuak {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 20px 0;
}

.filtro_elementuak button {
    background: white;
    border: 2px solid #555;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.filtro_elementuak button:hover {
    background: #555;
    color: white;
    transform: scale(1.1);
}

.produktuak {
    gap: 25px;
    padding: 20px;
}

.produktuak>div {
    background: white;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.produktuak img {
    width: 100%;
    max-width: 100%;
    height: 220px;
    object-fit: contain;
    border-radius: 10px;
}

.produktuak h3 {
    margin: 10px 0 5px 0;
    font-size: 18px;
}

.Prezioa {
    color: green;
    font-weight: bold;
    margin-bottom: 10px;
}

.produktuak button {
    background: #1a73e8;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.produktuak button:hover {
    background: #0d47a1;
}

#kontenidoa {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px;
    padding: 20px;
}
