
main{

    margin: 0;
    padding: 0;

}

/* Ezkerreko blokearen partea, hau da, nire saskiaren textua eta hiru argazkiak*/

.ezkerrekoBlokea{

    width: 50vw;
    padding: 80px 0px 80px 80px;


}

.ezkerrekoBlokea .argazkiKontainer {
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;
    
}





.argazkiKontainer .produktuElementua {
    height: 300px;
    width: 400px;
    background-color: rgb(167, 167, 156);
    margin: 0px 50px 0px 0px;

}
#mainTitle h1{

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: 40px;
    letter-spacing: 25px;
   padding-bottom: 65px;

}



