body {

    margin: 0;
    padding: 0;
}

main {

    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    height: 100%;
    max-width: none;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 300px;

}




/* Ezkerreko blokearen partea, hau da, nire saskiaren textua eta hiru argazkiak*/
#mainTitle h1 {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    letter-spacing: 25px;
    padding-bottom: 65px;

}

.ezkerrekoBlokea {

    width: 55%;
    padding: 80px 0px 80px 80px;


}

.ezkerrekoBlokea .argazkiKontainer {
    display: flex;
    flex-direction: row;
    height: 400px;
    justify-content: center;
    align-items: center;

}

.argazkiKontainer .produktuElementua {
    height: 300px;
    width: 400px;
    background-color: rgb(235, 235, 228);
    margin: 0px 30px 0px 0px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;

}

.argazkiKontainer .produktuElementua img {
    height: 220px;
    width: 170px;
    border-radius: 20px;




}


.argazkiKontainer .produktuElementua:hover {

    transform: scale(1.1);




}




.argazkiKontainer .produktuElementua figcaption {

    padding-top: 20px;


}



/* Eskumako blokearen partea, hau da, nire erosketaren prezio totala eta erosi botoia*/

.eskubikoBlokea {

    border: 1px solid rgb(15, 15, 15);
    border-radius: 10px;
    height: 400px;
    width: 400px;
    margin: 150px 50px 0px 50px;
    box-shadow: 10px 10px 10px;


}

/*Hau da erosiBlokearen goiko erdia*/

.eskubikoBlokea .subEtaGastuak {

    height: 55%;
    display: flex;
    flex-direction: column;


}


.eskubikoBlokea .subEtaGastuak h2.erosketaTit {
    padding-top: 10px;
    padding-left: 120px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}



.eskubikoBlokea .subEtaGastuak p {

    font-size: 20px;
    font-family: 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding-top: 50px;
    padding-left: 15px;

}



.eskubikoBlokea .erosiBlokea {

    height: 45%;

    display: flex;
    flex-direction: column;

}

/*Hau da erosiBlokearen beheko erdia*/

.eskubikoBlokea .erosiBlokea {

    height: 45%;
    border-top: 2px solid black;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 10px;


}


.eskubikoBlokea .erosiBlokea p {

    font-size: 20px;
    font-family: 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding-top: 20px;
    padding-left: 15px;


}

.eskubikoBlokea .erosiBlokea button {

    margin: 30px 80px 0px 80px;
    height: 50px;
    width: 250px;
    border-radius: 11px;
    font-size: 20px;
    box-shadow: grey 2px 2px 5px;
    transition: transform 0.3s ease-in-out;

}

.eskubikoBlokea .erosiBlokea button:hover {

    transform: scale(1.1);

}

#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #a6a6a6;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.2); 
    border: 1px solid rgb(15, 15, 15);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 450px;
    height: 250px;
    box-sizing: border-box; 
}

#popup > p {
    font-size: 40px;    
}
.botoia {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.2s ease;
}

.botoia:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
}

